<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymiracle.repository.dao.SysAdvertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easymiracle.repository.entity.SysAdvertDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="img" property="img" />
        <result column="sort_number" property="sortNumber" />
        <result column="type" property="type" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

</mapper>
